---
interface Props {
  class?: string;
}

const { class: className = "" } = Astro.props;
---

<h2
  class:list={[
    className,
    "pb-24 text-2xl font-medium tracking-wide text-slate-100 before:content-['//_'] before:text-fuchsia-500"
  ]}>
  <slot />
</h2>

