---
import { Icon } from "astro-icon";

export interface Props {
  icon: string;
  title: string;
  class?: string;
}

const { icon, title, class: className = "" } = Astro.props;
---

<div
  class:list={[
    className,
    "flex flex-col items-start gap-4 p-4 rounded bg-gradient-to-tr from-slate-900 to-slate-800 border border-slate-800"
  ]}
>
  <Icon name={icon} size={40} />

  <div class="pt-2">
    <p class="text-slate-300 font-medium pb-1">{title}</p>
    <slot />
  </div>
</div>