---
import MatrixCanvas from "./MatrixCanvas.astro";
import { t, getPageContent } from "@/i18n/i18n";
import Prose from "@/ui/Prose.astro";

const { Content } = getPageContent(await Astro.glob("../../content/hero**.md"))[0];
---

<section id="hero" class="min-h-screen relative flex flex-col">
  <div class="container z-10 left-1/2 -translate-x-1/2 absolute top-1/2 -translate-y-1/2">
    <div class="inline-flex flex-col items-start gap-5 pb-16 sm:pb-0">
      <h1 class="text-base text-fuchsia-500">
        {t("hero.subtitle")}
      </h1>
      <h2 class="text-5xl font-bold text-slate-300">Elmar van Riet.</h2>
      <h3 class="text-5xl font-bold">
        {t("hero.catchphrase")}.
      </h3>

      <Prose class="max-w-xl pt-2 pb-6">
        <Content />
      </Prose>

      <div class="relative group">
        <div class="transition-all bg-gradient-to-l from-violet-500 to-fuchsia-500 opacity-75 absolute -inset-0.5 rounded blur group-hover:opacity-100"></div>
        <a href="#contact" class="block relative py-3 text-gray-300 transition bg-gray-900 rounded px-7">
          {t("hero.cta")}
        </a>
      </div>
    </div>
  </div>

  <div class="w-1/2 ml-auto flex-1 relative">
    <MatrixCanvas />
  </div>
</section>


<script>
import { setTransparent, slideRight } from "@/utils/animation";

const containerSelector = "#hero .inline-flex";

setTransparent(containerSelector);

slideRight(containerSelector, {
  delay: 500,
})

</script>