---

import Hero from "@/sections/hero/Hero.astro";
import Skills from "@/sections/Skills.astro"
import About from "@/sections/About.astro";
import Work from "@/sections/Work.astro";
import Nav from "@/ui/Nav.astro";
import NavLink from "@/ui/NavLink.astro";
import Journey from "@/sections/Journey.astro";
---

<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-slate-900 text-slate-400">
    <Nav>
      <NavLink icon="tabler:home" href="#hero">Home</NavLink>
      <NavLink icon="tabler:user" href="#about">Over mij</NavLink>
      <NavLink icon="tabler:device-desktop"  href="#skills">Skills</NavLink>
      <NavLink icon="tabler:briefcase" href="#work">Projects</NavLink>
      <NavLink icon="tabler:mail" href="#contact">Contact</NavLink>
    </Nav>

    <main class="overflow-x-hidden">
      <Hero />
      <About />
      <Skills />
      <Journey />
      <Work />
    </main>
	</body>
</html>