---
import Section from "@/ui/Section.astro";
import SectionTitle from "@/ui/SectionTitle.astro";
import Image from "@/ui/Image.astro";
import {  getPageContent, t } from "@/i18n/i18n";
import Prose from "@/ui/Prose.astro";

const { Content } = getPageContent(await Astro.glob("../content/about**.md"))[0];
---

<Section id="about">
  <div class="mx-auto flex flex-col sm:grid sm:grid-cols-[3fr_2fr] gap-x-12 w-full max-w-[900px]">
    <SectionTitle> 
      {t("about.title")}
    </SectionTitle>
  
    <Prose class="content flex flex-col col-start-1 pb-16 sm:pb-0">
      <Content />
    </Prose>

    <Image
      height={300}
      aspectRatio="1:1"
      class="image aspect-square w-full"
      alt="portret van Elmar"
      src="/assets/placeholder.jpeg"

    />
  </div>
</Section>

<script>
import { slideRight, slideUp, slideLeft, setTransparent } from "@/utils/animation";
import { inView } from "@/utils/inView";

const titleSelector = "#about .section-title";
const contentSelector = "#about .content";
const imageSelector = "#about .image";

setTransparent([titleSelector, contentSelector, imageSelector]);

inView(titleSelector, ({ target }) => {
  slideUp(target)
});


inView(contentSelector, ({ target }) => {
  slideRight(target)
});

inView(imageSelector, ({ target }) => {
  slideLeft(target)
});

</script>



